:root {
    --dark-voilet: #251e3e;
    --faint-blue: #add8e6;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.section {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark-voilet);
}

h1,
h2 {
    color: white;
}

label,
caption {
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--faint-blue);
}

input {
    width: 100%;
    padding: 1rem;
    display: 50px;
    display: block;
    margin: 1rem 0rem 1rem 0rem;
}

button {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color: var(--faint-blue);
    color: var(--dark-voilet);
    font-weight: bold;
    cursor: pointer;
}

#output {
    padding-top: 1rem;
    color: white;
}

table,
th,
td {
    padding: 0.2rem;
    color: var(--dark-blue);
    background-color: var(--faint-blue);
    border: 2px solid var(--dark-blue);
    border-collapse: collapse;
}

.no-of-note {
    background-color: white;
    font-weight: bold;
}

table {
    width: 100%;
    table-layout: auto;
}

footer {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark-voilet);
}

.footer-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
    color: white;
}

ul {
    padding-top: 1rem;
    margin: 0.4rem;
    padding-inline-start: 0px;
}

li {
    display: inline;
    padding: 0rem 1rem;
}

a {
    color: var(--faint-blue);
    font-size: 1.5rem;
    margin: 0.3rem
}

a:hover {
    color: white;
}